@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h7>Manage my <a asp-controller="Courses" asp-action="AllCourses">courses</a> or <a asp-controller="Courses" asp-action="AddCourse">add a new course</a></h7>
</div>
