@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This is the privacy policy for our website. Please read it carefully.</p>

<p>We respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and disclose information about you when you visit our website.</p>

<p>Information We Collect:</p>
<ul>
    <li>Your name and contact information when you fill out a form on our website.</li>
    <li>Information about your usage of our website, such as your IP address, browser type, and pages visited.</li>
</ul>

<p>How We Use Your Information:</p>
<p>We may use the information we collect from you to:</p>
<ul>
    <li>Provide and improve our services.</li>
    <li>Respond to your inquiries and requests.</li>
    <li>Send you important updates and notifications.</li>
</ul>


<p>Security:</p>
<p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure.</p>

<p>Changes to This Privacy Policy:</p>
<p>We may update this Privacy Policy from time to time. Any changes will be posted on this page.</p>

<p>If you have any questions or concerns about our Privacy Policy, please contact us.</p>
