@model CourseViewModel

@{
    ViewBag.Title = "Add Course";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="AllCourses">All Courses</a>
</p>

<form method="post" asp-action="AddCourse">

    <partial name="_CourseFormPartial" model="@Model.Course" />

    <input class="btn btn-primary" type="submit" value="Add" />
    <a class="btn btn-primary" role="button" asp-action="AllCourses">Cancel</a>

</form>