
<h1>Thank You</h1>
<p>Thank you submitting your response!</p>
<br />

<div>
    <b>@TempData["ThankYouMessage"]</b>

</div>

<a class="btn btn-primary" role="button" asp-action="AllCourses">Go back to course list</a>
